html, body {
    font-family: 'Open Sans', sans-serif ,'Arvo', serif;
    font-size: 18px;
    scroll-behavior: smooth;
    overflow-x:hidden;
    background: #D7DDE8;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fff,#D7DDE8);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fff,#D7DDE8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
::selection {background:#63045e;color:#fff;}
::-moz-selection {background:#63045e;color:#fff;}
::-webkit-selection {background:#63045e;color:#fff;}

