.fev__about {
    position: relative;
    background-size: cover;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background: #fff; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fff, #C5C5E0);
    background: linear-gradient(to right, #fff, #C5C5E0);
}
.fev__about h1 {
    padding: 100px 0 50px 0;
    font-size: 45px;
    font-weight: bold;
    letter-spacing: 3px;
    color: #212529;
}

.fev__about__content {
    margin: 0 auto;
    padding: 0;
}
.fev__about .carousel-inner {
    border-radius: 30px;
}
.fev__about img {
    border-radius: 30px;
}

.fev__about .carousel-item {
    height: 440px;
}
.fev__about__left {
    display: flex;
    justify-content: center;
    align-items: center;
}
.fev__about__right {
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: left;
}

.about__content__1 {
    margin: 30px;
    line-height: 30px;
    word-spacing: 3px;
    letter-spacing: 3px;
    font-size: 21px;
    font-weight: 400;
    color: #63045e;
}

@media only screen and (max-width: 1680px) {
    .about__content__1 {
        line-height: 25px;
        word-spacing: 2px;
        letter-spacing: 2px;
        font-size: 18px;
        font-weight: 400;
    }
    .fev__about img {
        border-radius: 30px;
    }
    .fev__about .carousel-item {
        height: 350px;
    }
}

@media only screen and (max-width: 1440px) {
    .fev__about .carousel-item {
        height: 300px;
    }
}
@media only screen and (max-width: 1024px) {
    .fev__about .carousel-item {
        height: 220px;
    }
    .fev__about h1 {
        font-size: 2rem;
        font-weight: bold;
    }
    .about__content__1 {
        margin: 30px;
        line-height: 30px;
        font-size: 15px;
        font-weight: 400;
    }
}
@media only screen and (max-width: 600px) {
    .fev__about__left {
        height: 300px;
        letter-spacing: 1rem;
        font-weight: 400;
    }
    .fev__about__left h1 {
        font-size: 30px;
    }
    .about__content__1 {
        font-size: 15px;
    }
}
@media only screen and (max-width: 414px) {
    .fev__about__left {
        height: 200px;
        letter-spacing: 1rem;
        font-weight: 400;
    }
    .fev__about__left h1 {
        font-size: 30px;
    }
    .about__content__1 {
        font-size: 15px;
    }
    .fev__about .carousel-item {
        height: 170px;
    }
    .fev__about__right {
        height: 600px;
        display: flex;
        align-items: center;
        justify-content: left;
    }
}
@media only screen and (max-width: 375px) {
    .fev__about__left {
        height: 200px;
        letter-spacing: 1rem;
        font-weight: 400;
    }
    .fev__about__left h1 {
        font-size: 30px;
    }
    .about__content__1 {
        font-size: 15px;
    }
    .fev__about .carousel-item {
        height: 170px;
    }
    .fev__about__right {
        height: 700px;
        display: flex;
        align-items: center;
        justify-content: left;
    }
}
.img-hover-zoom img {
    transition: transform 3s, filter 3s ease-in-out;
    transform-origin: 50% 65%;
    filter: brightness(100%);
}
.img-hover-zoom:hover img {
    transform: scale(1.5);
}

/* The Transformation */
.img-hover-zoom--slowmo:hover img {
    filter: brightness(100%);
    transform: scale(3);
}
