
.fev__award .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
}

.fev__award{
    width: 100%;
    position: relative;
}
.fev__award .fev__award__content{
    text-align: center;
    color: #fff;
    padding: 100px 0;
}
.fev__award .fev__award__content h1{
    font-size: 4.5rem;
    color: white;
    font-weight: 700;
    letter-spacing: 3px;
    /* z-index: 9999; */
}
.fev__award__list {
    align-items: center;
    width: 90%;
    margin: 0 auto;
}

.fev__award__list .owl-nav{
    font-size: 70px;
    color: rgb(161, 158, 151);
    display: flex;
    justify-content: center;
    position: relative;
    /* border: solid 3px #63045e ; */
    display: flex;
    justify-content: space-between;
    transition: all 0.5s;
    /* display: none; */

}
.fev__award__list .owl-nav .owl-next:hover{
    color: #63045e;
}
.fev__award__list .owl-nav .owl-prev:hover{
    color: #63045e;
    
}
.fev__award__list .owl-nav .owl-prev{
    transition: all .5s;
    position: relative;
    left: -50px;
    bottom: 350px;

}
.fev__award__list .owl-nav .owl-next{
    transition: all .5s;
    position: relative;
    right: -50px;
    bottom: 350px;
}
.owl-next:focus, .owl-prev:focus {outline: none;}
.fev__award .owl-nav .owl-next{
    border: none;
    border: 1px solid white;
}
article figure::after,
article figure .image,
article figure .lighting,
article .item-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

article .item-wrapper,
article .item-content {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

article .item-wrapper,
article figure,
article .item-content {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

article {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 28vw;
    height: 30vw;
    margin: 1.8%;
    -webkit-perspective: 1600px;
    perspective: 1600px;
    cursor: pointer;
}
article .item-wrapper {
    width: 100%;
    height: 100%;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}
article .item-wrapper::before {
    content: "";
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    box-shadow: 0 8px 38px rgba(0, 0, 0, 0.86);
}
article .item-wrapper:hover::before {
    box-shadow: 0 14px 64px rgba(0, 0, 0, 0.92);
}
article .item-wrapper.enter.ease,
article .item-wrapper.leave {
    -webkit-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in;
}
article figure {
    width: 100%;
    height: 100%;
}
article figure::after {
    content: "";
    background-color: rgba(0, 0, 0, 0.06);
}
article figure .image {
    background-position: center;
    background-size: cover;
}
article figure .lighting {
    background: -webkit-linear-gradient(315deg, rgba(255, 255, 255, 0.24) 0%, rgba(255, 255, 255, 0) 100%);
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.24) 0%, rgba(255, 255, 255, 0) 100%);
}
article .item-content {
    pointer-events: none;
    padding: 20% 20px 20px;
    color: #fff;
    text-shadow: 0 3px 10px rgba(0, 0, 0, 0.76);
}
article .item-content h1 {
    margin-bottom: 5%;
    -webkit-transform: translateZ(100px);
    transform: translateZ(100px);
}
article .item-content p {
    font-size: 13px;
    margin-bottom: 5%;
    -webkit-transform: translateZ(50px);
    transform: translateZ(50px);
}
article .item-content .author {
    -webkit-transform: translateZ(70px);
    transform: translateZ(70px);
}
.owl-carousel {
    touch-action: manipulation;
}

.data-title {
    text-align: center;
}
.lb-data .lb-details {
    width: 100%;
    float: left;
    text-align: left;
    line-height: 1.1em;
}
.lb-caption {
    display: flex;
    text-align: center;
    
}

 @media only screen and (max-width: 1600px) {
    .fev__award .fev__award__content h1{
        font-size: 3rem;
    }
    article{
        width: 28vw;
        height: 30vw;
    }
    article .item-content h1{
        font-size: 2rem;
    }
    .fev__award__list .owl-nav .owl-prev{
        transition: all .5s;
        position: relative;
        left: -50px;
        bottom: 300px;
    
    }
    .fev__award__list .owl-nav .owl-next{
        transition: all .5s;
        position: relative;
        right: -50px;
        bottom: 300px;
    }
}

@media only screen and (max-width: 1400px) {
    .fev__award .fev__award__content h1{
        font-size: 3rem;
    }
    article{
        width: 28vw;
        height: 35vw;
    }
    article .item-content h1{
        font-size: 2rem;
    }
    .fev__award__list .owl-nav .owl-prev{
        transition: all .5s;
        position: relative;
        left: -50px;
        bottom: 330px;
    
    }
    .fev__award__list .owl-nav .owl-next{
        transition: all .5s;
        position: relative;
        right: -50px;
        bottom: 330px;
    }
}

@media only screen and (max-width: 1366px) {
    .fev__award .fev__award__content h1{
        font-size: 2.5rem;
    }
    article{
        width: 28vw;
        height: 30vw;
    }
    .fev__award .fev__award__content{
        padding: 100px 0 50px 0;
    }
    article .item-content h1{
        font-size: 1.7rem;
    }
    .fev__award__list .owl-nav .owl-prev{
        transition: all .5s;
        position: relative;
        left: -50px;
        bottom: 280px;
    
    }
    .fev__award__list .owl-nav .owl-next{
        transition: all .5s;
        position: relative;
        right: -50px;
        bottom: 280px;
    }
}

 @media only screen and (max-width: 1024px) {
    .fev__award .fev__award__content h1{
        font-size: 2.5rem;
    }
    article{
        width: 28vw;
        height: 33vw;
    }
    .fev__award .fev__award__content{
        padding: 100px 0 50px 0;
    }
    article .item-content h1{
        font-size: 1.4rem;
    }
    .fev__award__list .owl-nav .owl-prev{
        transition: all .5s;
        position: relative;
        left: -30px;
        bottom: 250px;
    
    }
    .fev__award__list .owl-nav .owl-next{
        transition: all .5s;
        position: relative;
        right: -30px;
        bottom: 250px;
    }
    article .item-content .author {
        font-size: 15px;
    }
}





@media only screen and (max-width: 850px) {
    .fev__award .fev__award__content h1{
        font-size: 2.5rem;
    }
    article{
        height: 300px;
        width: 350px;
    }
    article .item-content h1{
        font-size: 2rem;
    }
 }
 @media only screen and (max-width: 414px) {
    .fev__award .fev__award__content h1{
        font-size: 2.5rem;
    }
    article{
        height: 300px;
        width: 350px;
    }
    article .item-content h1{
        font-size: 2rem;
    }
    .fev__award__list .owl-nav .owl-prev{
        transition: all .5s;
        position: relative;
        left: -20px;
        bottom: 220px;
    
    }
    .fev__award__list .owl-nav .owl-next{
        transition: all .5s;
        position: relative;
        right: -20px;
        bottom: 220px;
    }
 }

 @media only screen and (max-width: 375px) {
    .fev__award .fev__award__content h1{
        font-size: 2.5rem;
    }
    article{
        height: 320px;
        width: 330px;
        
    }
    article .item-content h1{
        font-size: 2rem;
    }
    .fev__award__list .owl-nav .owl-prev{
        transition: all .5s;
        position: relative;
        left: -20px;
        bottom: 220px;
    
    }
    .fev__award__list .owl-nav .owl-next{
        transition: all .5s;
        position: relative;
        right: -20px;
        bottom: 220px;
    }
 }